<h1>Bienvenu(e)</h1>
<p>Bienvenue à StoryBooks 1.0.0</p>
<p>Publier des histoires du meilleur ou du pire de votre vie et choisissez de les rendre publiques ou de les garder
    complètement privées dans votre journal personnel.</p>
{{#if user}}
{{else}}
<a class="btn red darken-1" href="/auth/google"><i class="fab fa-google left"></i> Se connecter avec Google</a>
{{/if}}